/* Add CSS Styling */
.odd {
    background-color: #ffc0cb;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: hsl(120, 73%, 75%);
    font-weight: 700;
}

.large {
    font-size: 24px;
}